* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 56px;
  transition: all ease-in-out 0.1s;
  overflow: hidden;
}
.navbar-content {
  position: relative;
  display: flex;
  background: rgba(84, 83, 83, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 3px solid black;
  /* border-radius: 0 0 20px 20px; */
  height: 100%;
  transition: all ease-in-out 0.1s;
  justify-content: space-between;
  transform: translateY(-60px);
}

.nav-items {
  display: flex;
  margin: 0 40px;
  transform: translateY(70px);
  scale: 0.8;
  transition: all ease-in-out 0.1s;
}
.navbar:hover .navbar-content {
  transform: translateY(0px);
}
.navbar:hover .nav-items {
  transform: translateY(0px);
  scale: 1;
}
.nav-items li {
  width: 80px;
  min-width: 79px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  padding: 5px;
  margin: 8px 10px;
  transition: all ease-in-out 0.1s;
  background: rgba(3, 3, 3, 0.5);
  /* backdrop-filter: blur(5px); */
  color: rgb(206, 206, 206);
  cursor: pointer;
  font-family: "Lato";
}

.nav-items li:hover {
  background: rgba(3, 3, 3, 0.7);
  scale: 1.1;
}
.nav-label {
  background: url("./img/logo.png") no-repeat center center/cover;
  border-radius: 20px;
  width: 130px;
  height: 50px;
  margin: auto;
  margin-left: 50px;
  transition: all ease-in-out 0.05s;
  cursor: pointer;
}
.nav-label:hover {
  scale: 1.02;
  box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.8);
  -webkit-box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.8);
  -moz-box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.8);
}
@media (max-width: 740px) {
  .nav-label {
    display: none;
  }
  .navbar-content {
    justify-content: center;
  }
  .nav-items {
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 430px) {
  .nav-items {
    justify-content: space-evenly;
    margin: 0;
    scale: 0.7;
    transform: translateY(79px);
  }
  .nav-items li {
    margin: 5px;
  }
}

/* DASHBOARD */
.dashboard-body {
  position: relative;
  /* background: url("./img/3.jpg") no-repeat center center/cover; */
  background: url("./img/4.jpg") no-repeat center center/cover;
  height: 100dvh;
  overflow: auto;
  z-index: 1;
}
.dashboard-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./img/1.jpg") no-repeat center center/cover;
  height: 45%;
  width: 100%;
  border-radius: 0 0 100px 100px;
  z-index: 2;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #0c0c0ce0 100%, #000000d3 0%);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  z-index: 1;
  font-family: "Lato";
  font-size: 16px;
  /* letter-spacing: 1px; */
  color: rgb(196, 196, 196);
  padding: 70px 30px;
  border-radius: 0 0 20px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(196, 196, 196);
  font-family: "Lato";
  margin-top: 50px;
  margin-bottom: 20px;
  background: rgba(12, 12, 12, 0.8);
  padding: 20px;
  border-radius: 2dvh;
}
.footer-button {
  height: 100px;
  width: 250px;
  background: url("./img/logo.png") no-repeat center center/cover;
  background-size: cover;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 18px;
  transition: all ease-in-out 0.05s;
}
.footer-button:hover {
  scale: 1.05;
  box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.4);
  -webkit-box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.4);
  -moz-box-shadow: 0px 0px 100px 20px rgba(93, 22, 158, 0.4);
}
.social-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Lato";
  justify-content: center;
  text-align: center;
}
.social-container footer {
  margin: 0 0 20px 0;
}
.social-container footer p {
  margin: 5px;
  color: rgba(255, 255, 255, 0.619);
}
.social-container footer span {
  color: white;
}
.social-media {
  display: flex;
  margin: auto;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.social-media button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.social-media button:hover {
  box-shadow: 0px 0px 10px 1px rgba(217, 217, 217, 0.4);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(217, 217, 217, 0.4);
  -moz-box-shadow: 0px 0px 10px 1px rgba(217, 217, 217, 0.4);
  scale: 1.05;
}
.social-media .github {
  background: url("./img/github.png") no-repeat center center/cover;
}
.social-media .facebook {
  background: url("./img/facebook.jpg") no-repeat center center/cover;
}
.social-media .linkedin {
  background: url("./img/linkedin.png") no-repeat center center/cover;
}

.search-bar {
  position: absolute;
  bottom: 22%;
  max-width: 900px;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-height: 50px;
  caret-color: transparent;
}
.enter-btn {
  all: unset;
  position: absolute;
  bottom: -65px;
  min-width: 130px;
  min-height: 130px;
  border-radius: 50%;
  background: #ffffff;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background: url("./img/enter3.png") no-repeat center center/cover;
  box-shadow: 0px 0px 15px 10px #060f36;
  -webkit-box-shadow: 0px 0px 15px 10px #5776fe;
  -moz-box-shadow: 0px 0px 15px 10px #060f36;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.enter-btn:hover {
  scale: 1.1;
  box-shadow: 0px 0px 35px 20px #060f36;
  -webkit-box-shadow: 0px 0px 35px 20px #0e2178;
  -moz-box-shadow: 0px 0px 35px 20px #060f36;
}

.search-input {
  width: 90%;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #1f1f1fd3;
  caret-color: #f7f7f8;
  color: #ffffff;
  padding: 7px 10px;
  border: 2px solid black;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  /* margin-right: 1px; */
  transition: all 0.2s ease;
}
.search-bar .search-input {
  margin-right: 2px;
}
.search-bar .search-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.search-bar .search-input:focus {
  border: 2px solid #a970ff;
  background-color: #0e0e10;
}

.search-btn {
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

/* LANDING PAGE */
.landing-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* touch-action: pan-x; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(68, 16, 128, 1) 100%
  );
  height: 100vh;
  color: rgb(196, 196, 196);
  z-index: 1;
}
.landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  overflow: hidden;
  background: transparent;
}
.landing-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.landing-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* .landing-body .search-h1 {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 0;
  font-family: "Lato";
  z-index: 2;
  color: black;
  background: rgba(255, 255, 255, 0.313);
  backdrop-filter: blur(2px);
  border-radius: 50px 50px 0 0;
  padding: 5px 20px 5px 20px;
} */

.landing-search-bar {
  position: relative;
  display: flex;
  margin: 0px 50px 0px 50px;
  margin-top: 150px;
  max-width: 1000px;
  width: 100%;
  min-height: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 3;
  transition: all ease-in-out 0.2s;
}
.landing-search-bar:hover {
  background: rgba(33, 30, 30, 0.471);
}

.landing-search-bar input {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: "Lato";
  font-size: 20px;
  border: none;
  border-radius: 30px 0 0 30px;
  background: rgba(20, 19, 19, 0.313);
  backdrop-filter: blur(4px);
  transition: all ease-in-out 0.2s;
  color: rgb(178, 178, 178);
}

.landing-search-bar input:hover {
  outline: none;
  /* border: 1px solid black; */
  border-right: none;
}
.landing-search-bar input:hover + button {
  /* border: 1px solid black; */
  border-left: none;
}
.landing-search-bar input::placeholder {
  color: rgb(178, 178, 178);
}
.landing-search-bar input:focus {
  backdrop-filter: blur(4px);
  border: 2px solid rgb(178, 178, 178);
  background: rgba(20, 19, 19, 0.313);

  border-right: none;
}
.landing-search-bar input:focus + button {
  backdrop-filter: blur(4px);
  border: 2px solid rgb(178, 178, 178);
  border-left: none;
}
.landing-search-bar button {
  display: flex;
  width: 10%;
  height: 100%;
  outline: none;
  border: none;
  background: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(20, 19, 19, 0.313);
  backdrop-filter: blur(4px);
  border-radius: 0 30px 30px 0;
}
.landing-search-bar button span {
  scale: 1.9;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  color: rgb(153, 153, 153);
}
.landing-search-bar button:hover span {
  scale: 2.4;
  color: rgb(194, 193, 193);
}

.page-btns {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-btns button {
  all: unset;
  padding: 15px 10px 15px 10px;
  background: rgba(23, 23, 23, 0.386);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
}
.page-btns button:hover {
  background: rgba(100, 100, 100, 0.703);
}
.page-btns .current-pg {
  background: rgba(0, 0, 0, 0.74);
  scale: 1.1;
}
.page-btns .first-last {
  padding: 5px 10px 5px 10px;
}

.trending-container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  transform: translateY(50px);
  z-index: 1;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  margin-bottom: 70px;
}
.trending-content h2 {
  align-self: baseline;
  margin-left: 1%;
}
.trending-content {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 3px solid rgb(0, 255, 0); */
}
/* CARD */
/* ?CARD LOADER------------------------------------------------ */
.loader {
  position: relative;
  display: flex;
  gap: 0.3em;
  margin: 15% 0;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2em;
  filter: blur(45px);
  background-color: #e299ff;
  background-image: radial-gradient(
      at 52% 57%,
      hsla(11, 83%, 72%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 37% 57%, hsla(175, 78%, 66%, 1) 0px, transparent 50%);
}

.loader__circle {
  --size__loader: 0.6em;
  width: var(--size__loader);
  height: var(--size__loader);
  border-radius: 50%;
  animation: loader__circle__jumping 2s infinite;
  background-color: #b499ff;
}

.loader__circle:nth-child(2n) {
  animation-delay: 300ms;
  background-color: #e499ff;
}

.loader__circle:nth-child(3n) {
  animation-delay: 600ms;
}

@keyframes loader__circle__jumping {
  0%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px) scale(0.5);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px) scale(0.9);
  }
}
/* ? ---------------------------------------------------------- */

.card {
  position: relative;
  background: transparent;
  background-color: rgba(255, 255, 255, 0);
  fill-opacity: 1;
  aspect-ratio: 1/1.88;
  width: 19.2%;
  caret-color: transparent;
  transition: all ease-in-out 0.1s;
  /* overflow: hidden; */
  padding: 3px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./img/5.jpg") center/cover no-repeat;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(95, 24, 131, 0.377);
  backdrop-filter: blur(4px);
  z-index: 1;
  height: 100%;
  width: 100%;
}
.card-image {
  position: relative;
  display: flex;
  height: 80%;
  width: 100%;
  background: url("./img/cover.png") no-repeat center center/cover;
  z-index: 2;
}

/*todo About text ------------------------------- */
.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(216, 216, 216);
  padding: 10px 5px;
  overflow: auto;
  scrollbar-width: none;
  opacity: 0;
  /* display: none; */
  transition: opacity ease 0.5s;
}
.o-visible {
  opacity: 1;
  height: 100%;
}
/* .visible {
  display: block;
  opacity: 1;
} */
.about-overlay p {
  margin-top: 14px;
}
.about-overlay::-webkit-scrollbar {
  color: transparent;
  width: 0;
}
/*todo ------------------------------------------- */
/* .card-details:hover .about-overlay {
  opacity: 1;
} */
.rating span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgb(26, 26, 26);
  font-weight: 400;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rating {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 78px;
  height: 26px;
  border-radius: 0 0 0 10px;
  background: rgba(255, 254, 254, 0.257);
  backdrop-filter: blur(5px);
}

.rating div {
  background: url("./img/imdb2.png") no-repeat center center/cover;
  height: 40px;
  width: 40px;
  margin-left: 4px;
}
.quality {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 28px;
  width: 28px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  color: white;
  border-radius: 10px 0 0 0;
}
.card-details {
  position: relative;
  font-family: "Open Sans";
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  font-size: 15px;
  z-index: 2;
}
.card-details h3 {
  margin: 5px 0 7px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tooltip {
  position: absolute;
  top: 40%;
  /* border: 1px solid red; */
  background: rgb(231, 231, 231);
  border-radius: 3px;
  color: rgb(21, 20, 20);
  padding: 3px;
  white-space: nowrap;
  overflow: visible;
  z-index: 4;
  /* display: none; */
  opacity: 0;
  transition: all ease-in-out 0.5s;
  width: 0px;
  overflow: hidden;
}
.visible {
  display: block;
  opacity: 1;
}
.tt-visible {
  display: block;
  opacity: 1;
  width: auto;
}
/* .card-details h3:hover + .tooltip {
  display: block;
} */
.release-date {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  margin-top: 3px;
}
.card:hover {
  cursor: pointer;
  padding: 8px;
  box-shadow: 0px 0px 10px 4px rgba(255, 106, 199, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(255, 106, 199, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(255, 106, 199, 0.75);
}

.card:hover::before {
  opacity: 1;
}

@media (max-width: 1260px) {
  .card-details {
    font-size: 13px;
  }
}

@media (max-width: 1100px) {
  .card {
    width: 23.6%;
  }
  .card-details {
    font-size: 16px;
  }
  .trending-content h2 {
    align-self: baseline;
    margin-left: 1.5%;
  }
}
@media (max-width: 890px) {
  .card-details {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .card {
    width: 31.5%;
  }
  .card-details {
    font-size: 16px;
  }
}
@media (max-width: 660px) {
  .card-details {
    font-size: 13px;
  }
}
/* !Simplify card for smoother scrolling on mobile devices */
@media (max-width: 550px) {
  .navbar:hover .nav-items {
    scale: 0.81;
  }
  .card {
    width: 46.5%;
  }
  .trending-container {
    margin-top: 0;
  }
  .card-details {
    font-size: 16px;
  }
  .trending-content h2 {
    align-self: baseline;
    margin-left: 2.5%;
    /* background: rgba(255, 255, 255, 0.3); */
    /* backdrop-filter: blur(3px); */
    padding: 5px;
    border-radius: 10px;
  }
  .search-h1 {
    display: none;
  }
  .landing-search-bar {
    margin-top: 60px;
    min-height: 45px;
    width: 98%;
  }
  .about-overlay {
    display: none;
  }
  .tooltip {
    display: none;
  }
  .card::before {
    display: none;
  }

  .landing-search-bar input {
    backdrop-filter: none;
    background: rgba(33, 30, 30, 0.471);
  }
  .landing-search-bar button span {
    scale: 1.3;
  }
  .landing-search-bar button:hover span {
    scale: 1.5;
  }
  .landing-search-bar button {
    background: rgba(33, 30, 30, 0.471);
  }
  .landing-search-bar input:focus {
    backdrop-filter: none;
    background: rgba(29, 29, 29, 0.967);
  }
  .landing-search-bar input:focus + button {
    backdrop-filter: none;
    background: rgba(29, 29, 29, 0.967);
  }
  .page-btns {
    scale: 0.8;
  }
  .page-btns button {
    backdrop-filter: none;
    border: 1px solid rgba(255, 255, 255, 0.414);
  }
  .card-overlay {
    backdrop-filter: none;
  }
  .rating {
    backdrop-filter: none;
  }
  .quality {
    backdrop-filter: none;
  }
}
/* !------------------------------------------ */
@media (max-width: 450px) {
  .card-details {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .page-btns {
    scale: 0.7;
  }
}
@media (max-width: 350px) {
  .card {
    width: 95%;
  }
}
@media (max-width: 430px) {
  .navbar:hover .nav-items {
    scale: 0.72;
  }
}

/* !Movie Details Page */
.details-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(68, 16, 128, 1) 100%
  );
  /* height: 100dvh; */
  margin: auto;
}

.details-container {
  margin: auto;
  height: 100dvh;
  max-width: 1500px;
  width: 100%;
}

.details-movie-image {
  position: relative;
  top: 10px;
  height: 50%;
  width: 100%;
  background: url("./img/backdrop.png") no-repeat center center/cover;
  border-radius: 0 150px 0 150px;
  box-shadow: -7px -7px 19px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px -7px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px -7px 19px 0px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 0.2s;
}

.overview-container {
  /* border: 3px solid blue; */
  display: flex;
  position: absolute;
  left: 0;
  bottom: -55%;
  width: 100%;
  /* height: 305px; */
}
.overview-content {
  width: 100%;
  /* border: 3px solid magenta; */
}
.movie-overview {
  /* border: 3px solid green; */
  border-radius: 20px;
  margin: 20px;
  width: 80%;
  height: 260px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-family: "Lato";
  color: rgb(219, 217, 217);
  padding: 20px;
  overflow: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.button-div {
  display: none;
}

.movie-overview::-webkit-scrollbar {
  color: transparent;
  width: 0;
}
.other-details {
  flex-direction: column;
  /* border: 3px solid purple; */
  font-family: "Lato";
  color: rgb(219, 217, 217);
  width: 80%;
  height: 90px;
  margin: 0 20px 0 20px;
  padding: 0 10px 0 10px;
}
.other-details ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  column-count: 2;
  /* max-height: 100%; */
  list-style: none;
}
.other-details ul li {
  /* background: rgba(242, 137, 137, 0.5); */
  padding: 2px;
  flex: 1 0 50%;
}
.other-details span {
  /* border: 1px solid white; */
  background: rgba(128, 128, 128, 0.353);
  border-radius: 7px;
  padding: 1px 7px;
}
.other-details .imdb {
  color: transparent;
  background: url("./img/imdb4.png") no-repeat center center/cover;
}
.movie-card {
  /* border: 2px solid red; */
  height: 400px;
  margin-left: 70px;
}
.trailer-btn {
  position: relative;
  all: unset;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgba(224, 22, 170, 0.5);
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Lato";
  color: rgb(219, 217, 217);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 0.1s;
  letter-spacing: 2px;
  cursor: pointer;
}
.trailer-btn span {
  scale: 1.7;
  margin: 0 10px;
  transition: all ease-in-out 0.1s;
}

.trailer-btn:hover {
  background: rgba(224, 22, 170, 0.378);
  letter-spacing: 6px;
}
.trailer-btn:hover span {
  scale: 2;
  margin-right: 15px;
}

.movie-cover {
  width: 200px;
  height: 300px;
  aspect-ratio: 1/1.5;
  background: url("./img/cover.png") no-repeat center center/cover;
  background-size: contain;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.similar-container {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 1500px;
  width: 100%;
  font-family: "lato";
  /* transform: translateY(-3%); */
}
.similar-container h1 {
  margin-left: 1%;
}

@media (max-width: 1070px) {
  .movie-card {
    display: none;
  }
  .movie-overview {
    width: 96%;
  }
  .button-div {
    display: block;
    width: 96%;
    margin: 20px;
  }
  .other-details {
    width: 96%;
  }
  .details-movie-image {
    border-radius: 0;
    top: 0;
  }
}

@media (max-width: 666px) {
  .other-details ul {
    column-count: 1;
    list-style: none;
  }
  .other-details ul li {
    padding: 2px;
    flex: 1 0 100%;
  }
  .similar-container {
    margin-top: 50px;
  }
  .movie-overview {
    margin: 20px 5px;
    width: 97%;
  }
  .button-div {
    width: 97%;
    margin: 20px 5px;
  }
  .other-details {
    margin: 0 5px;
  }
}

@media (max-width: 1070px) and (max-height: 600px) {
  .overview-container {
    position: relative;
    top: 10px;
  }
  .similar-container {
    margin-top: 5%;
  }
}
@media (max-width: 1070px) and (max-height: 440px) {
  .similar-container {
    margin-top: 10%;
  }
}
@media (max-width: 769px) and (max-height: 500px) {
  .similar-container {
    margin-top: 13%;
  }
}
@media (max-width: 769px) and (max-height: 360px) {
  .similar-container {
    margin-top: 20%;
  }
}
@media (max-width: 666px) and (max-height: 570px) {
  .similar-container {
    margin-top: 15%;
  }
}
@media (max-width: 666px) and (max-height: 440px) {
  .similar-container {
    margin-top: 26%;
  }
}
@media (max-width: 550px) and (max-height: 360px) {
  .similar-container {
    margin-top: 40%;
  }
}
@media (max-width: 350px) and (max-height: 640px) {
  .similar-container {
    margin-top: 40%;
  }
}
@media (max-width: 350px) and (max-height: 430px) {
  .similar-container {
    margin-top: 50%;
  }
}
.loading {
  height: 100vh;
}
